body{
    background-color: teal;
}
.main-div{
    height: 80vh;
    text-align: center;
    /* background-color: teal; */
}
h1{
    padding: 10vh;
    font-size: 60px;
}
.para {
padding: 10vh;
font-size: 40px;
}