.main-div {
    border: 2px solid black;
    height: auto;
    width: 40vw;
    padding: 5px;
    margin: 5% 15% auto 30%;
    text-align: center;
    background-color: #21819e;
  }
  .form-container {
    padding: 50px;
  }
  .button-container {
    margin-top: 6%;
    background-color: #21819e;
  }
  .input-field {
    border: 2px solid;
    height: 3vh;
    background-color: #21819e;
  }
  .main-div {
    width: 50%;
    height: auto;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    transition: 500ms;
  }
  
  